[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/Yuan-Ru-Lin/hugo-theme-mini
